* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.donate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;

}